code repository/web-services/VideoRentalService/Service References/AppDBank/CreditcardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Authorise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthoriseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthoriseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Credit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Debit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DebitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>