code repository/web-services/VideoRentalService/Service References/AppDBank/CreditCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AppDBank/CreditcardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AppDBank/CreditcardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditCardService_Authorise_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorise" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Authorise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthoriseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Credit_InputMessage">
    <wsdl:part name="parameters" element="tns:Credit" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Credit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreditResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Debit_InputMessage">
    <wsdl:part name="parameters" element="tns:Debit" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Debit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DebitResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditCardService">
    <wsdl:operation name="Authorise">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/Authorise" message="tns:ICreditCardService_Authorise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/AuthoriseResponse" message="tns:ICreditCardService_Authorise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Credit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/Credit" message="tns:ICreditCardService_Credit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/CreditResponse" message="tns:ICreditCardService_Credit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Debit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/Debit" message="tns:ICreditCardService_Debit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/DebitResponse" message="tns:ICreditCardService_Debit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditCardService" type="tns:ICreditCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorise">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/Authorise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Credit">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/Credit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Debit">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/Debit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardService">
    <wsdl:port name="BasicHttpBinding_ICreditCardService" binding="tns:BasicHttpBinding_ICreditCardService">
      <soap:address location="http://localhost/AppDBank/CreditcardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>