code repository/web-services/MultiColumnList/MultiColumnList/Service References/RentalService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AppDMovies/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoRentalService" />
  <xs:element name="HireMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffid" type="xs:int" />
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
        <xs:element minOccurs="0" name="rentalid" type="xs:int" />
        <xs:element minOccurs="0" name="paymentAmount" type="xs:double" />
        <xs:element minOccurs="0" name="creditcardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HireMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HireMovieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffid" type="xs:int" />
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
        <xs:element minOccurs="0" name="paymentAmount" type="xs:double" />
        <xs:element minOccurs="0" name="creditcardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefundResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffid" type="xs:int" />
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
        <xs:element minOccurs="0" name="paymentAmount" type="xs:double" />
        <xs:element minOccurs="0" name="creditcardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefundTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchtext" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetCustomersByTextResult" nillable="true" type="q1:ArrayOfSCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetCustomerResult" nillable="true" type="q2:SCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetCustomersResult" nillable="true" type="q3:ArrayOfSCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetRentalsResult" nillable="true" type="q4:ArrayOfSRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetPaymentsResult" nillable="true" type="q5:ArrayOfSPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentsByRental">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rentalid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentsByRentalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetPaymentsByRentalResult" nillable="true" type="q6:ArrayOfSPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalByPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalByPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetRentalByPaymentResult" nillable="true" type="q7:SRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetPaymentResult" nillable="true" type="q8:SPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetSalesByCategoryResult" nillable="true" type="q9:ArrayOfCategorySale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min_monthly_purchases" nillable="true" type="xs:byte" />
        <xs:element minOccurs="0" name="min_dollar_amount_purchased" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="count_rewardees" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VideoRentalService" minOccurs="0" name="GetRewardsReportResult" nillable="true" type="q10:ArrayOfSCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogonResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceCheckResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefundPaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>